body{
    margin:5px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(cesio01-5c3.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.card{
    text-align: center;
    padding: 20px
    width: 600px;
    margin: auto;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    padding-bottom: 50px;
    overflow: hidden;
}

.foto {
    animation: girar 5s linear infinite;
    width: 150px;
    margin-top: -50px;
    border: 10px solid rgb(41, 41, 41);
    border-radius: 50%;
}

.banner{
    background: linear-gradient(45deg, rgb(219, 191, 62), rgb(0, 0, 0), rgb(8, 231, 60));
    height: 100px;
}

.botao{
    text-decoration: none;
    color: black;
    background-color: rgb(219, 191, 62);
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.botao:hover{
    background-color: black;
    color: rgb(219, 191, 62);
    transform: scale(1.025);
    transition: 0.3s ease;
}

@media (max-width: 800px) {
    .card {
    width: 90%;
    max-width: 350px
    }
}

@keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
}
